body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Style for the flex container to cover the entire screen */
.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%; /* 100% width of the viewport */
  height: 100%; /* 100% height of the viewport */
}

/* Style for the flex items */
.item {
  flex: 1;
  min-width: calc(50% - 10px);
  margin: 5px;
  background-color: #e0e0e0;
  padding: 20px;
  box-sizing: border-box;
}

@media (max-width: 548px) {
  .item {
    min-width: calc(100% - 10px); /* Full width for each item on smaller screens */
  }
}


:root{
  --background-dark: #000000;
  --text-light: rgba(255,255,255,0.6);
  --text-lighter: rgba(255,255,255,0.9);
  --spacing-s: 8px;
  --spacing-m: 16px;
  --spacing-l: 24px;
  --spacing-xl: 32px;
  --spacing-xxl: 64px;
  --width-container: 1100px;
}

/* *{
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
} */

body{
  height: 100%;
}

.statcards{
  background-color: beige !important;
  padding: 20px;
    margin: 10px;
    border-radius: 8px;
    max-width: 300px;
    text-align: center;
}

/* .statleft{
  width: 20%;
  float: right;
}

.statright{
  width: 20%;
  float: left;
} */

.maindiv{
  height: 100vh;
   display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cards{
  display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.galleryitem{
 padding: 20px;
    margin: 10px;
    border-radius: 8px;
    max-width: 300px;
    text-align: center;
}

@media (max-width: 768px) {
    .cards {
        flex-direction: column;
    }
}


